{{> logoutButton }}

<h1>This is the {{pageTitel}} page!</h1>
<h2>This are some people who signed this petition as well:</h2>

<ul>
    <div>
        {{#signedNames}}
            {{#if url}}
            <li> <a href="{{url}}"> {{first}} {{last}} </a> {{age}}
            <a href="/signers/{{city}}">{{city}}</a> </li>
            {{else}}
            <li> {{first}} {{last}} {{age}}
            <a href="/signers/{{city}}">{{city}}</a> </li>
            {{/if}}
        {{/signedNames}}
    </div>
</ul>