{{> logoutButton }}

<h1>{{pageTitel}} page</h1>
<h2>This are some people who signed this petition as well:</h2>

<ul>
    {{#signedNames}}
            {{#if url}}
            <li> <a href="{{url}}"> {{first}} {{last}} </a> {{age}}
            <a href="/signers/{{city}}">{{city}}</a> </li>
            {{else}}
            <li> {{first}} {{last}} {{age}}
            <a href="/signers/{{city}}">{{city}}</a> </li>
            {{/if}}
    {{/signedNames}}    
</ul>

<p>Click <a href="/thanks">here</a> to see or delete your signature and <a href="/edit">here</a> to edit your profile.</p>